<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.uibk.recipe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Recipestyle" >
        <activity
            android:name="at.ac.uibk.recipe.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.LoginActivity"
            android:parentActivityName="at.ac.uibk.recipe.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.RegisterActivity"
            android:parentActivityName="at.ac.uibk.recipe.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.SearchActivityNotLoggedIn"
            android:parentActivityName="at.ac.uibk.recipe.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.LoggedInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.ShowRecipeActivity"
            android:label="@string/title_activity_show_recipe"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.SearchLoggedInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.SearchFoundActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.FavoritesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.DeleteRecipeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.FriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.AddRecipe"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.ShowFriendsRecipesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.ShowRecipeActivityNot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.uibk.recipe.ShowRecipeNotActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>